/* modal window  */
.modal-title {
  font-weight: bold;
}
.newlist-input-field {
  background: rgb(44, 44, 44);
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 500px;
  margin-left: 10px;
  height: 20px;
}
