/* custom-list  */
.custom-list-heading {
  padding-left: 15px;
  font-size: 12px;
  color: gray;
  margin: 0;
}
.custom-list-name {
  flex: 1;
  display: flex;
  align-items: flex-start;
}


/* input  */
.search-input-wrapper {
  background: rgb(49, 48, 50);
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 280px;
  height: 30px;
  border-radius: 5px;
  margin: 20px 5px;
  padding: 0 5px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.search-input-wrapper:focus {
  border: 2px solid rgb(11, 132, 255);
}

.overflow {
	overflow: hidden !important
}
