.App {
	min-height: 100vh;
	display: flex;
	background-color: rgb(41, 39, 39);
}

.header{
	width: 100%;
}

.heading {
	font-weight: 600;
	color: blue;
	font-size: 40px
}

.todo-input {
	width: 1350px;
	height: 40px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	background-color: transparent;
	outline: none;
	color: white;
}
.todo-input:focus {
	border-bottom: rgb(65, 63, 63) 1px solid;
}

.todo-row {
	height: 40px;
	width: 1350px;
	cursor: pointer;
	font-size: 14px;
	color: white;
	border-bottom: rgb(65, 63, 63) 1px solid;
	margin-left: 30px;
}

.btn-sumbit {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: rgba(250, 245, 245, 0);
	color: rgb(170, 170, 170);
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 10;
	padding: 0; 
	display: flex;
	position: absolute;
	right: 20px
}  
.btn-sumbit:hover {
	background-color: rgba(119, 136, 153, 0.404);
}
.btn-sumbit:focus {
	background-color: rgba(167, 177, 187, 0.404);
	color: white;
}

.wrapper {
	width: 300px;
	background-color: rgba(56, 55, 55, 0.384);
	border-right: black solid 1px;
}

.header {
	padding: 10px;
	margin: 7px;
}

.checked {
	background: transparent !important;
}