* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: -apple-system, system-ui, sans-serif;
}

.App {
	min-height: 100vh;
	display: flex;
	background-color: rgb(32,32,32);
}

.todo {
	font-size: 14px;
	color: rgb(195, 196, 196);
}

/* sidebar */
.todo_sidebar {
	background-color: rgba(54, 54, 53);
	width: 300px;
	height: 100%;
	border-right: black solid 1px;
	padding: 5px;
}

.todo-search {
	padding-bottom: 20px;
	padding-top: 20px;
}
/* lists */
li{
	display: flex;
	align-items: center;
}

.icon {
	font-size: 22px;
	padding-right: 5px;
	color: white;
}

.count_l {
	padding-left: 80px;
	font-size: 18px;
}

.todo-mainlist {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	width: 136px;
	height: 64px;
	margin: 4px;
	border-radius: 7px;
	cursor: pointer;
	background-color: rgba(94, 94, 94);
}

.t_active {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	width: 136px;
	height: 64px;
	margin: 4px;
	border-radius: 7px;
	cursor: pointer;
	background-color: rgb(11 132 255);
	color: white;
}

.f_active {
  background-color: rgb(255 158 11);
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	width: 136px;
	height: 64px;
	margin: 4px;
	border-radius: 7px;
	cursor: pointer;
	color: white;
}

.s_active {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	width: 136px;
	height: 64px;
	margin: 4px;
	border-radius: 7px;
	cursor: pointer;
  background-color: rgb(255 69 58);
	color: white
}

.a_active {
	color: white;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	width: 136px;
	height: 64px;
	margin: 4px;
	border-radius: 7px;
	cursor: pointer;
  background-color: rgb(101, 102, 102);
}

.sidebar-heading {
	padding-left: 15px;
	font-size: 12px;
	color: gray;
	margin: 0;
}

.count_s {
	color: rgb(136, 135, 135);
	align-items: flex-end;
	justify-content: flex-end;
}

.todo-addlist {
	background-color: transparent;
	margin-right: 4px;
	margin-left: 4px;
	height: 40px;
	border-radius: 4px;
	padding: 8px;
	display: flex;
	cursor: pointer;
	color: white
}
.active_addlist {
	margin-right: 4px;
	margin-left: 4px;
	height: 40px;
	border-radius: 4px;
	padding: 8px;
	display: flex;
	background-color: rgba(18, 92, 172);
}

.todo-addbutton {
	position: absolute;
	bottom: 14px;
	padding-left: 8px;
	font-size: 13px;
	color: lightgray;
	cursor: pointer;
}
.todo-addbutton:hover {
	color: white;
}
 
/* alert add new list */
.add-list-popup {
	font-size: 13px;
	position: absolute;
	width: 600px;
	height: 190px;
  top: 50%;
	left: 50%;
	background: rgb(33, 33, 33);
	border-radius: 9px;
	border: 1px solid gray;
	transform: translate(-50%, -50%);
	padding: 20px;
	color: white
}

.nameField {
	background: rgb(44, 44, 44);
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
	width: 500px;
	margin-left: 10px;
	height: 20px;
}

.btn-field {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.newlist-label {
	font-weight: bold;
}

.newlist-btn {
	width: 65px;
	border: none;
	outline: none;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.cancel {
	background-color: rgb(89, 89, 89);
}
.cancel:focus {
  background-color: rgb(113, 113, 113);
}
.submit {
	background-color: rgb(22, 113, 217);
}
.submit:focus {
	background-color: rgb(21, 118, 219);
}

.bage {
	font-size: large;
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin: 20px 34px;
}

.icon-active {
	color: rgb(22, 113, 217);
}

.icon-default{
	color: white;
}


/* input-search */
.todo-search {
	background: rgb(49, 48, 50);
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
	width: 280px;
	height: 30px;
	border-radius: 5px;
	margin:  20px 5px ;
	padding: 0 5px;
}
.search {
	background-color: transparent;
	border: none;
	outline: none;
}

.badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 30px;
	margin-right: 10px;
}

.badge-blue {
	background-color: rgb(18, 92, 172);
}
.badge-salat {
  background-color: rgb(166, 221, 16);
}
.badge-yellow {
  background-color: rgb(244, 248, 21);
}
.badge-red {
  background-color: rgb(250, 14, 14);
}
.badge-violet {
  background-color: rgb(106, 10, 126);
}
.badge-green {
  background-color: rgb(13, 228, 60);
}
.badge-pink {
  background-color: rgb(243, 38, 192);
}
.badge-orange {
  background-color: rgb(221, 125, 16);
}
.badge-white {
  background-color: rgb(255, 255, 255);
}
.badge-lightpink {
  background-color: rgb(255, 172, 234);
}
.badge-grey {
  background-color: rgb(71, 74, 75);
}
.badge-darkgreen {
  background-color: rgb(10, 83, 34);
}
.badge-berry {
  background-color: rgb(173, 45, 88);
}
.badge-aqua {
  background-color: rgb(13, 221, 228);
}
.badge-lightblue {
  background-color: rgb(100, 115, 245);
}
.badge-creme {
  background-color: rgb(243, 214, 159);
}
.badge-dark {
  background-color: rgb(16, 11, 34);
}
.badge-brown {
  background-color: rgb(110, 51, 11);
}

.add-list_popup-colors {
	margin-top: 25px;
	margin-left: 10px;
}

.disabled {
	background-color: rgb(113, 113, 113) !important;
	pointer-events: none;
}























.heading {
	font-weight: 600;
	color: blue;
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 15px;
}

.todo-input {
	width: 1350px;
	height: 40px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	background-color: transparent;
	outline: none;
	color: white;
}
.todo-input:focus {
	border-bottom: rgb(65, 63, 63) 1px solid;
}

.todo-row {
	height: 30px;
	width: 1350px;
	cursor: pointer;
	font-size: 14px;
	color: white;
	border-bottom: rgb(65, 63, 63) 1px solid;
}

.btn-sumbit {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: rgba(250, 245, 245, 0);
	color: rgb(170, 170, 170);
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 10;
	padding: 0; 
	display: flex;
	position: absolute;
	right: 20px
}  
.btn-sumbit:hover {
	background-color: rgba(119, 136, 153, 0.404);
}
.btn-sumbit:focus {
	background-color: rgba(167, 177, 187, 0.404);
	color: white;
}


.header {
	padding: 10px;
	margin: 7px;
	width: 100%;
}

.tasks {
	display: flex;
	justify-content: start;
	padding-bottom: 20px;
}

.checked {
	background-color: transparent;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	border: 1px solid rgb(170, 170, 170);
	margin-right: 10px;
}
.checked:focus {
	border: 1px solid gold;
}
.done {
	text-decoration: line-through;
	color: white;
}

.none {
	display: none;
}
.block {
	display: block;
}